{% extends 'base.html.twig' %}

{% block title %}About WinJoy - The Fun Starts Here{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{asset('assets/favicon.ico')}}" alt="WinJoy Logo" style="width: 10%;">
            <h1 style="color: #f57c00; font-size: 3em; font-weight: bold;">Welcome to the Joyous Universe of WinJoy!</h1>
            <p class="lead" style="color: #9c27b0; font-size: 1.5em;">Are you ready for a roller coaster ride of winning, grinning, and sinning (just kidding about the sinning part)? Then you're at the right place!</p>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="{{asset('assets/journey.jpg')}}" alt="Our Journey" style="width: 70%;">
        </div>
        <div class="col-md-6">
            <h2 style="color: #3f51b5; font-size: 2em;">Our Crazy Journey</h2>
            <p style="font-size: 1.2em;">In the wild and whimsical year of 2023, we embarked on a noble quest: To turn the world of giveaways on its head, and shake out all the loose change and occasional cat. And thus, WinJoy was born, a place where wins are celebrated, losses are laughed off, and every participant is a hero in their own story!</p>
            <p style="font-size: 1.2em;">Teaming up with brands as diverse as the animal kingdom, we've created a gleaming treasure trove of giveaways. From aardvarks to zeppelins, you name it, we probably have a brand giving it away!</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2 style="color: #ff5722; font-size: 2.5em;">Our Non-Stop Win-A-Thon</h2>
            <img src="{{asset('assets/winathon.jpg')}}" alt="Win-A-Thon" style="width: 10%;">
            <p style="font-size: 1.3em;">At WinJoy, we serve up a smorgasbord of giveaways from all corners of the brand universe. Like a chocolate fountain at a party, the goodies just keep flowing. So whether you're a gadget geek, a fashion freak, a book buff, or just a serial prize hunter, there's always something fresh and exciting to aim for!</p>
            <p style="font-size: 1.3em;">And here's the best part: joining the fray is as easy as pie (and nearly as satisfying). So what are you waiting for? Get in there and make some noise!</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2 style="color: #e91e63; font-size: 2em;">Jump Right In!</h2>
            <p style="font-size: 1.2em;">If you're on the edge of your seat, itching to dive into this wild rumpus, then waste no more time. Sign up, pick a giveaway that tickles your fancy, and let the games begin! Remember, we're like a vending machine of giveaways - constantly restocking with tantalizing new options!</p>
            <p style="font-size: 1.2em;">Excited to join the WinJoy family? You should be! Our only question is: Are you feeling lucky?</p>
        </div>
        <div class="col-md-6">
            <img src="{{asset('assets/giphy.gif')}}" alt="Jump In" style="width: 70%;margin-bottom: 10px;margin-left: 150px;">
        </div>
    </div>
</div>
{% endblock %}
