<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/favicon.ico') }}" type="image/x-icon">
        {# we are not using : webpack-encore-bundle #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {# Style sheets #}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css')}}">
        {% endblock %}


        {# JS Files : defer for js execution first#}
        {% block javascripts %}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

</html>
