<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# we are not using : webpack-encore-bundle #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        {# Style sheets #}
        <link rel="stylesheet" href="{{ asset('assets/CSS/bootstrap.min.css')}}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/CSS/styles.css')}}">


        {# JS Files : defer for js execution first#}
        <link rel="stylesheet" href="{{ asset('assets/js/bootstrap.bundle.min.js')}}" defer>
        {% block javascripts %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/js/scripts.js')}}" defer>

    </head>
    <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
        {% block body %}{% endblock %}
    </body>
</html>
