<footer class="container-fluid bg-light">
    <div class="row">
        <section class ="col">
             authors
        </section>
         <section class ="col">
              date
        </section>
             rights
         <section class ="col">
        </section>
    </div>

</footer>